/* Menu Site */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');



    .menu-principal {
        width: 100%;
        height: 75px;
        background:#3E8DA8;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .logo {
        height: 50px;
        float: left;
        padding: auto;
        width: 10%;
    }

    .logo img {
        width: 74px;
    }

    .body{
        background-color:#1c718d;
    }

    .menu-topo {
        text-align: center;
        float: left;
        align-items: center;
    
    }

    .menu-topo li {
        display: inline-block;
        margin-left: 15px;
        margin-top: 26px;
    }

    .menu-topo li a {
        text-decoration: none;
        font-family: "Poppins", Sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #fcfcfc;
        text-transform: uppercase;
    }

    .menu-topo li a:hover {
        transition: 0.7s all;
        color: black;
    }

    .Login li {
        display: inline-block;
        margin-right: 30px;
        margin-top: 28px;
        margin-left: 600px;
        
    }

    .Login li a {
        text-decoration: none;
        font-family: "Roboto", Sans-serif;
        font-size: 18px;
        font-weight: bold;
        color: #fcfcfc;
        text-transform: uppercase;
    }

    .Login li a:hover {
        transition: 0.7s all;
        color: rgb(236, 0, 0);
    }

    .Carrosel{
        width: 100%;
        margin-top: 10px;
    }

    .container {
        background-color: #3E8DA8;
        margin: 0%;
        
    
    }

        
    .flip-card {
        background-color: transparent;
        width: 300px;
        height: 300px;
        perspective: 1000px;
        margin-left: center;
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    
    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }
    
    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    
    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 20px;
    }
    
    .flip-card-front {
        background-color: #bbb;
        color: black;
    }
    
    .flip-card-back {
        background-color: rgb(69, 74, 78);
        color: white;
        transform: rotateY(180deg);
    }

    .perfil {
        display: inline-flex;
        border-radius: 15px;
    }

    .perfil img {
        border-radius: 15px;
        display: inline-block;
    }

    .perfil li {
        list-style-type: none;
    }

    .teste {
        margin: 20px 10px 10px 20px;
        color: #000000;
    }

    .contato {
        height: 80px;
        width: auto;
        border-top: 15px;
    }
    
    .hr {
        margin: 100px;
    }
    
    .Base1 {
        float: inline-end;
        flex-direction: column;
        margin-left: 95%;
    }
    
    .seta {
        height: 50px;
        padding: auto;
        width: 50px;
        list-style: none;
        margin-left: 92%;
        justify-content: space-between;
    }
    
    .nav-item {
        font-size: 25px;
        margin-left: 15px;
        margin-top: 10px;
    }
    
    .cont {
        color: #000000;
        margin-left: 15px;
        margin-bottom: 50px;
    }
    
    .redes {
        text-decoration: none;
        color:#000000;
    }

    
    #redes-socias {
        margin-left: 20px;
        margin-bottom: 15px;
    }
    
    .Contatos {
        background-color: #b6b6b6;
        border-radius: 20px 20px 0px 0px ;
        margin-top: flex;
    }

    .fotos {
        float: inline;
        flex-direction: column;
    }
    