/* Menu Site */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


.menu-principal {
    width: 100%;
    height: 75px;
    background:#3E8DA8;
    border: solid #3E8DA8 3px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo {
    height: 50px;
    float: left;
    padding: auto;
    width: 10%;
}

.logo img {
    width: 74px;
}

.body{
    background-color:#1c718d;
}

.menu-topo {
    text-align: center;
    float: left;
    align-items: center;
  
}

.menu-topo li {
    display: inline-block;
    margin-left: 15px;
    margin-top: 26px;
}

.menu-topo li a {
    text-decoration: none;
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #fcfcfc;
    text-transform: uppercase;
}

.Login {
    margin-left: 680px;
}

.home:hover {
    transition: 0.7s all;
    color: black;
}

.carrinho:hover {
    transition: 0.7s all;
    color: black;
}

.contato:hover {
    transition: 0.7s all;
    color: black;
}

.sobre-nos:hover {
    transition: 0.7s all;
    color: black;
}

.Login:hover {
    transition: 0.7s all;
    color: rgb(236, 0, 0);
}

.container {
    background-color: #3E8DA8;
    margin: 0%;
}


body {
    font-size: 1.3rem;
    font-family: 'Oswald', sans-serif;
    background: #f9f9f9;
}

.main-header {
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 250px;
}

.main-header h1 {
    margin-top: 80px;
    color: #ffffff;
}

.main-header p {
    color: #ffffff;
    margin-top: 50px;
    font-size: 23px;
}

.container2 img {
    height: 110px;
    width: 110px;
}

.container2 {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
}

img {
    width: 100%;
   }

.cards {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #3E8DA8;
    margin-bottom: 30px;
    width: 750px;
    margin-left: 150px;
    border: solid #3E8DA8 3px;
    border-radius: 20px;
    box-shadow: black 10px 10px 30px;
}

.missao {
    height: 130px;
    width: 130px;
    margin-top: 150px;
    margin-left: 150px;
}

.visao {
    height: 130px;
    width: 130px;
    margin-top: 115px;
    margin-left: 150px;
}

.valores {
    height: 128px;
    width: 128px;
    margin-top: 150px;
    margin-left: 150px;
}

.cards h3 {
    color: white;
    margin-bottom: 2rem;
}

.cards p {
    font-family: "Hepta Slab", Helvetica, Arial;
    color: rgb(255, 255, 255);
    font-size: 20px;
    float: left;
}

.cards>div {
    padding: 2rem;
}

.btn {
    display: inline-block;
    background: #000;
    color: #fff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

@media screen and (max-width: 1200px) {
    .menu-topo li a {
        font-size: 16px;
    }
}

@media screen and (max-width: 1400px) {
    .Login{
        margin-left: 400px;
    }
}

@media screen and (max-width: 992px) {

    .Login {
        margin-left: 150px;
    }

    .cards {
        margin-left: 100px;
    }
}